repos:
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v18.1.8  # 根据你安装的 clang-format 版本调整
    hooks:
      - id: clang-format
        types_or: [c++, c]
        args: [-style=file, -i]
